.search-container {
  height: 25%;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-top: 2.5%;
  display: inline-block;
}

.search-container .fixed-table-container {
  border:0px;
}

.results-container {
  height: 25%;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
